.overlay {
    z-index: 100;
    position: fixed;
    padding: 1vw;
    margin-top: -1vw;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: block;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}


.globalContainer {
    margin: 0.55vw 2vw 30px 2vw;
    z-index: 10000;
    position: absolute;

}

.wordWrapper {
    /* margin-left: 2vw;
    margin-right: 2vw; */
    /* overflow: visible; */
    position: fixed;
}

.globalGrid {
    z-index: 100;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    width: 96vw;
    margin-top: 0;
    
}



h1 {
    letter-spacing: -0.02em;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    -webkit-filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.75)); /* Safari */
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.75));
    cursor: pointer;
    -webkit-transition: all 750ms cubic-bezier(0.175, 1.2, 0.32, 1.275);
    transition:         all 750ms cubic-bezier(0.175, 1.2, 0.32, 1.275);
    z-index: 99999;
    float: left;
    clear: both;
    position: fixed;
}

h1:hover {
    transform: scale(1.05);
    opacity: 1 !important;
}

h1:active {
    transform: scale(0.95);
}





#aboutLink {
    opacity: 0.5;
}

#aboutLink:hover {
    transform: scale(1.05);
    opacity: 1 !important;

}


p {
    font-size: 30px;
    letter-spacing: -0.02em;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: all 750ms cubic-bezier(0.175, 1.2, 0.24, 1);
    transition:         all 750ms cubic-bezier(0.175, 1.2, 0.24, 1);
    z-index: 99999;
    float: left;
    width: auto;
    word-wrap: break-word;
    margin-bottom: 36px;
}


p a {
    background: linear-gradient(to right, #3785F7,#EB645A,#7373FF);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(255,255,255,1);
    transition: all .2s ease-in-out;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: -0.05em;
    cursor: pointer;
    text-decoration: none;
}

p a:hover {
    /* text-decoration: underline; */
    transform: translateY(1.5px);
  }

  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }
  
.morefun {
    background: linear-gradient(to right, #3785F7,#EB645A,#7373FF);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(255,255,255,0);
    transition: color .2s ease-in-out;
    font-weight: 400;
}

.fun {
    background: linear-gradient(to right, #3785F7,#EB645A,#7373FF);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(255,255,255,1);
    transition: color .2s ease-in-out;
    font-weight: 600;
    letter-spacing: -0.05em;
    cursor: pointer;
}

.fun:hover {
    color:rgba(0,0,0,0);
  }

  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }
 

  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }

  
p strong {
    
    font-weight: 600;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: #fff;
}

/* p span 
{
    display: block;
    height: 36px;
} */

.squishyBoi {
    height: 0px !important;
}
